/* style for notes: */
#tasks {
    display:flex;
    flex-direction: row;
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;  
    }
}
.task {
    background-image: url('/assets/images/notebg.png');
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;  
         
}



.taskContent{
    width: 175px;
    height: 228px;
    margin-top: 19px;
    margin-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-rows: 0.5fr 5fr 1fr 1fr;
    opacity: 1;
}

.taskContent > div:nth-child(2){
    overflow-y: auto;
}

.taskContent > div:nth-child(1){
    display: flex;
    flex-direction: row-reverse;
}

.taskContent> div > span {
    display:none;
    width: 16px;    
}

.taskContent:hover > div > span{
    display:block;
}

.taskContent > div > span:hover {
    cursor:pointer;
}



/* style for body: */
body {
    background-image: url('/assets/images/tile.jpg');
}




/* style for form: */
#form {
    background-image: url('/assets/images/formbg.jpg');
}

header, #form {
    width: 50%;
    margin-left: 25%;
    /* border: solid blue 1px; */
}

#form>div{
    text-align: center;
}
@font-face {
    font-family: Brush;
    src: url("/assets/Fonts/forever-brush-script/Forever\ Brush\ Script\ Demo.otf");
}

header{
    text-align: center;
    font-family: Brush;
    font-size: xxx-large;
}

.task:last-child{
    animation: fadeIn 1s;
}